@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --container-padding: 2rem;
  --container-max-width-2xl: 1400px;
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.97 0.01 240);
  --foreground: oklch(0.3143 0.091 254.8);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3143 0.091 254.8);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3143 0.091 254.8);
  --primary: oklch(0.688 0.169 246.53);
  --primary-foreground: oklch(0.98 0.01 210);
  --secondary: oklch(0.96 0.02 210);
  --secondary-foreground: oklch(0.3143 0.091 254.8);
  --muted: oklch(0.96 0.02 210);
  --muted-foreground: oklch(0.55 0.05 215);
  --accent: oklch(0.96 0.02 210);
  --accent-foreground: oklch(0.3143 0.091 254.8);
  --destructive: oklch(0.6 0.25 0);
  --destructive-foreground: oklch(0.98 0.01 210);
  --border: oklch(0.92 0.03 214);
  --input: oklch(0.92 0.03 214);
  --ring: oklch(0.688 0.169 246.53);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  .container {
    @apply mx-auto px-[var(--container-padding)];
    max-width: var(--container-max-width-2xl);
  }
}

@layer utilities {
  .accordion-down {
    animation: accordion-down 0.2s ease-out;
  }
  .accordion-up {
    animation: accordion-up 0.2s ease-out;
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
